/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-scss/bootstrap.scss";

.h-70vh{
    height: 70vh;
}
.h-30vh{
    height: 30vh;
}
.w-15{
    width: 15%;
}