<div class="container vh-100">
  <div class="h-75 d-flex flex-wrap justify-content-center align-item-center">
    <div class="w-75 my-auto d-flex flex-wrap justify-content-center">
      <h1 class="text-center mb-5">WEATHER</h1>
      <div class="w-100">
        <div class="">
          <label class="w-15 text-center" for="lat">Latitude: </label>
          <input
            class="w-75"
            name="lat"
            [(ngModel)]="latitude"
            min="-90"
            max="90"
          />
        </div>
        <div class="">
          <label class="w-15 text-center" for="lon">Longitude: </label>
          <input
            class="w-75"
            type="number"
            name="lon"
            [(ngModel)]="longitude"
            min="-180"
            max="180"
          />
        </div>
      </div>

      <button class="w-25 mt-3" [routerLink]="['/weather', latitude, longitude]">
        Go
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '40.779897', '-73.968565']">New York</p>
    </div>
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '45.4654219', '9.1859243']">Milan</p>
    </div>
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '45.070312', '7.6868565']">Torino</p>
    </div>
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '35.685013', '139.752445']">Tokyo</p>
    </div>
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '51.507351', '-0.127758']">London</p>
    </div>
    <div class="col-2 text-center">
      <p [routerLink]="['/weather', '48.856614', '2.352222']">Paris</p>
    </div>
  </div>
</div>