<div class="d-flex flex-wrap">
  <div class="w-100 w-lg-70 vh-80-lg-100 d-flex align-items-center">
    <div class="mx-3 mx-lg-5">
      <section
        class="main bgc-blue text-white d-flex flex-wrap rounded-5 px-lg-8rem"
      >
        <h1 class="text-center w-100 my-5">WEATHER</h1>
        <div class="row w-100 my-1">
          <div class="col col-12 d-flex justify-content-center">
            <label class="w-lg-15 text-center" for="lat">Latitude: </label>
            <input
              placeholder="Insert latitude"
              class="w-65 w-lg-85 rounded-3"
              type="number"
              name="lat"
              [(ngModel)]="latitude"
              min="-90"
              max="90"
              maxlength="2"
            />
          </div>
        </div>
        <div class="row w-100 my-1">
          <div class="col col-12 d-flex justify-content-center">
            <label class="w-lg-15 text-center" for="lon">Longitude: </label>
            <input
              placeholder="Insert longitude"
              class="w-65 w-lg-85 rounded-3"
              type="number"
              name="lon"
              [(ngModel)]="longitude"
              min="-180"
              max="180"
              maxlength="3"
            />
          </div>
        </div>
        <div class="row w-100 my-1">
          <div class="col col-12 d-flex justify-content-center">
            <label class="w-lg-15 text-center" for="name">Name: </label>
            <input
              placeholder="This is an optional input used to add to the favourites"
              class="w-65 w-lg-85 rounded-3"
              type="text"
              name="name"
              [(ngModel)]="name"
              maxlength="25"
            />
          </div>
        </div>
        <div class="row w-100 mt-4 mb-5">
          <div class="col col-4 d-flex justify-content-center">
            <button
              class="p-lg-2 px-lg-5 mt-3 mx-3 btn"
              [routerLink]="['/weather', latitude, longitude]"
            >
              Search
            </button>
          </div>
          <div class="col col-4 d-flex justify-content-center">
            <button class="p-lg-2 px-lg-5 mt-3 mx-3 btn" (click)="reset()">
              Reset
            </button>
          </div>
          <div class="col col-4 d-flex justify-content-center">
            <button
              class="p-lg-2 px-lg-5 mt-3 mx-3 btn"
              (click)="addFavourites()"
            >
              Add to favorites
            </button>
          </div>
        </div>

        <p *ngIf="error" class="text-center w-100 color-red fw-bold h-15px">
          {{ error }}
        </p>
      </section>
      <section class="favourites mt-4rem fs-large">
        <h2 class="text-center">Favourites</h2>
        <p *ngIf="favourites.length <= 0" class="text-center">
          No favorites added. Add your city now to know the weather with just
          one click!!!
        </p>
        <div class="row justify-content-center">
          <div *ngFor="let favourite of favourites" class="col-3">
            <p class="text-center text-break">
              <span
                class="text-underline"
                [routerLink]="[
                  '/weather',
                  favourite.latitude,
                  favourite.longitude
                ]"
                >{{ favourite.name }}
              </span>
              <span (click)="deleteFavourite(favourite.name)" class="color-red fw-bold">
                x</span
              >
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div
    class="w-100 w-lg-30 vh-20-lg-100 text-white bgc-light-blue border-lg-blue"
  >
    <div class="mx-5 h-lg-100 fs-large">
      <h3 class="text-center py-lg-5">Suggested</h3>
      <div class="row flex-lg-column h-lg-75 mb-5 mb-lg-0">
        <div
          *ngFor="let Suggested of suggesteds"
          class="col col-2 col-lg-12 h-lg-16 text-center d-flex align-items-center justify-content-center"
        >
          <p
            class="text-underline"
            [routerLink]="['/weather', Suggested.latitude, Suggested.longitude]"
          >
            {{ Suggested.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
